body{
    margin-top:128px;
    position: relative;
    /* min-height: 100vh; */
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.link-Router{
    text-decoration: none;
}

/* .App{
    min-height: calc(100vh - 130px); 
     height: calc(100vh - 130px);
} */